test('{{ response.name }} 400', () async {
  String mockResponse = await loadJson('{{ response.jsonName }}.json');
  
  // TODO: Add Your Request If Available
  // var fakeRequest = getFakeObject();

  server.enqueue(httpCode: 400, body: mockResponse);

  try {
    await repository.{{ method.name }}();

    // TODO: use the line below if your method needs a parameters
    // await repository.{{ method.name }}(fakeRequest);
  } catch (e) {
    expect(e.runtimeType, ErrorResponse<String>);
    var err = e as ErrorResponse<String>;
    expect(err.errorStatus, true);
    expect(err.errorType, "Bad Request Error");
    expect(err.errors!.first, "Parameter 'username' required");
  }

  var request = server.takeRequest();

  expect(request.url.toString(), '{{ response.name }}');
});
